// contient le style qu'il y a à la racine.
@import '../styles/variables.scss';

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}// permet de réinitialiser toutes les balises HTML

body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-black;
    background-color: $color-white; 
}// permet de réinitialiser les marges du corps et définit la famille de polices selon les nagivateurs

  
