// les typographies qu'on utilise partout dans l'appli

// définir ici les titres et paragraphes, ainsi que les break-points définis dans les mixins. 

//fonts
@font-face{
    font-family:"Lora-Regular";
    src: url(../assets/fonts/Lora/Lora-Regular.ttf);
  }
  
  @font-face {
    font-family: "Lora-Medium";
    src: url(../assets/fonts/Lora/Lora-Medium.ttf);
  }
  
  @font-face{
    font-family: "Lora-Bold";
    src: url(../assets/fonts/Lora/Lora-Bold.ttf)
  }
  
  @font-face {
    font-family: "Dosis-Light";
    src: url(../assets/fonts/Dosis/Dosis-Light.ttf);
  }
  
  @font-face {
    font-family: "Dosis-Medium";
    src: url(../assets/fonts/Dosis/Dosis-Medium.ttf);
  }
  
  @font-face {
    font-family: "Dosis-SemiBold";
    src: url(../assets/fonts/Dosis/Dosis-SemiBold.ttf);
  };

  @font-face {
    font-family: "Montserrat-Thin";
    src: url(../assets/fonts/Montserrat/Montserrat-Thin.ttf);
  };

  @font-face {
    font-family: "Montserrat-Light";
    src: url(../assets/fonts/Montserrat/Montserrat-Light.ttf);
  };

  @font-face {
    font-family: "Montserrat-Regular";
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
  };

  @font-face {
    font-family: "Montserrat-Medium";
    src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf);
  };

  @font-face {
    font-family: "Montserrat-Bold";
    src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
  };
