// les variables qui contiennent des valeurs répétables, comme les couleurs.

// colors
$color-green : rgba(6, 150, 135, 1);
$color-white: rgba(255, 255, 255, 1);
$color-darkgrey: rgba(34, 34, 34, 1);
$color-black : rgba(0, 0, 0, 1);
$color-lightgrey: #CCC;

// Screen sizes
$screen-xs: 576px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Font sizes
$fontsize-xs: 10px;
$fontsize-s:14px;
$fontsize-m: 16px;
$fontsize-l: 18px;
$fontsize-xl: 40px;
$fontsize-xl: 64px;



//margin 
$margin-xs:.5rem;
$margin-s: 1rem;
$margin-m: 1.5rem;
$margin-l: 2rem;
$margin-xl: 5rem;

//padding
$padding-xs:.5rem;
$padding-s: 1rem;
$padding-m: 1.5rem;
$padding-l: 2rem;
$padding-xl: 5rem;

//border-radius
$bradius-s: 8px;
$bradius-m: 10px;
$bradius-xl: 18px;

