@import '../../index.scss';

.categories-wrapper h3{
    font-family: 'Montserrat-Medium';
    font-size: 25px;
    text-align: center;
    
}

.categories-title-wrapper{
    height:90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 3rem;
}

.categories-list{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    list-style-type: none;
    padding: 4rem;
} 

.list{
    border: 1px solid $color-lightgrey;
    border-radius: 8px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
}

