.asso-list{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5rem;
    list-style-type: none;
	padding: 4rem;
	max-width: 800px;  
}

.asso-item-wrapper{
    border: 1px solid black;
    border-radius: 8px;
    height: 20rem;
}

