.container {
  display: flex;
  align-items: center;
}

.auth-form {
  flex: 1;
  display: flex;
  padding: 20px;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 1rem;
}

label {
  flex: 1;
}

input {
  flex: 1;
}

.label-with-icon {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 150px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-field {
  flex: 1;
  padding-left: 10px;
  vertical-align: middle;
}

.input-field:focus {
  outline: #06968876;
}

.form-submit {
  display: inline-block;
  width: auto;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 16px;
  background-color: #D0EDE8E6;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-submit:hover {
  background: #92CDD9;
}

.signup-image {
  flex: 1;
}

.signup-image img {
  max-width: 100%;
  height: auto;
}
