.componentBannerWrapper{
    height:90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 3rem;
}

.componentBannerTitle h1{
    font-family: 'Lora-Medium';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
}

