@import "../../index.scss";

.componentBannerWrapper{
    height:90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 3rem;
}

.componentBannerTitle h1{
    font-family: "Montserrat-Bold";
    white-space: pre-line;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
}

input .search-bar{
    display: flex;
    gap:1rem;
    margin-left: 12rem;
}

input{
    width: 20rem;
    height: 3rem;
    border-radius: 20px;
    border: 1px solid #000; 
    
}

.search-input {
    text-align: center;
  }

.search-bar button{ /*à vérifier*/
    width: 110px; 
    height: 53px;
    color: white;
    background-color: rgba(6, 150, 135, 0.90); 
    border-radius: 18px;
    border: none; 
    cursor: pointer;
}
