@import "../../index.scss";

.component-banner-wrapper{
    max-height:50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 3rem;
}

.component-banner-title h1{
    font-family: "Montserrat-Bold";
    white-space: pre-line;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
}

.component-banner-wrapper img{
    max-height: 45vh;
}

input .search-bar{
    display: flex;
    gap:1rem;
    margin-left: 12rem;
}

input{
    width: 20rem;
    height: 3rem;
    border-radius: 20px;
    border: 1px solid #000;   
}
