@import '../../index.scss';

.search-bar{
    display: flex;
    gap:1rem;
    margin-left: 12rem;
}

.search-bar input{
    width: 20rem;
    height: 3rem;
    border-radius: 20px;
    border: 1px solid #000;  
}

.search-input {
    text-align: center;
  }

.search-bar button{ /*à vérifier*/
    width: 110px; 
    height: 53px;
    color: white;
    background-color: rgba(6, 150, 135, 0.90); 
    border-radius: 18px;
    border: none; 
    cursor: pointer;
}