@import '../../index.scss';

.product {
    padding: 6% 10% 0 10%;
    border: 1px solid $color-green;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 2px ;
}


.left img{
    display: block;
    margin: 10px auto ;
    width: 75%;
    height: 60vh;
    object-fit: contain; // ou object-fit : cover, voir pour trouver des images avec meilleures résolutions
    //border: 1px solid $color-black;
}

.right{
    grid-column: 2/ 4;
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding: 10% ;
}

.right p{
    color:black;
    font-size: $fontsize-s;
    font-family:"Poppins-Regular";
    text-align:left; 
}
