@import '../../index.scss';

.product {
  padding: 6% 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
}

.left {
  img {
    display: block;
    margin: 10px auto;
    width: 75%;
    height: 45vh;
    object-fit: contain; // ou object-fit : cover, voir pour trouver des images avec meilleures résolutions
  }

  .social-links {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: $bradius-s;
    text-align: center;
  }

  .social-links legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  .social-links a {
    color: $color-black;
    text-decoration: none;
  }

  .social-links a:hover {
    text-decoration: underline;
  }
}

.right {
  grid-column: 2/ 4;
  display: flex;
  flex-direction: column;
  //gap: 1px;
  padding: 4rem;
  .right-tags {
    display: flex;
    flex-wrap: wrap;
  }

  .right-tag {
    background-color: rgba(255, 204, 204, 35%);
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  p {
    color: black;
    font-size: $fontsize-s;
    font-family: 'Poppins-Regular';
    text-align: left;
    margin-bottom: $margin-s;
  }
  h1 {
    border-bottom: solid 1px #ccc;
  }

  .donation {
    display: flex;
    justify-content: space-between;
    margin-bottom: $margin-m;
  }
  .google-map {
    h2 {
      border-bottom: solid 1px #ccc;
    }

    iframe {
      width: 100%;
      height: 300px;
      border: none; // Supprime la bordure par défaut de l'iFrame
      border-radius: 8px;
      margin-top: 20px;
    }
  }
}

// media queries avec les mixins
@include lgMinBreakPoint {
  .product {
    display: flex;
    flex-direction: column;
  }
}

@include xlMinBreakPoint {
  .donation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
