@import '../../index.scss';

.container {
  display: flex;
  align-items: center;
}

.auth-form {
  flex: 1;
  display: flex;
  padding: 20px;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;

  img{
    max-width: 200px;
  }
  
}

.login-container{
  margin-bottom: 2rem;
}

// css que j'ai mis quand le composant FormInput 

// .form-group {
//   display: flex;
//   align-items: center;
//   margin-bottom: 15px;
//   gap: 1rem;
// }

// .form-group label {
//   flex: 1;
// }

// .form-group input {
//   flex: 1;
//   height: 2rem;
//   border-radius: $bradius-s;
// }

// .label-with-icon {
//   display: flex;
//   align-items: center;
//   overflow: hidden;
//   max-width: 150px;
//   font-weight: bold;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

// .input-field {
//   flex: 1;
//   padding-left: 10px;
//   //vertical-align: middle;
// }

// .input-field:focus {
//   outline: pink;
// }

.form-submit {
  display: inline-block;
  width: auto;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 16px;
  background-color: #D0EDE8E6;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-submit:hover {
  background: rgb(255, 192, 203, 0.6);
}

.signup-image {
  flex: 1;
}

.signup-image img {
  max-width: 100%;
  height: auto;
}
