@import '../../index.scss';

.container {
  display: flex;
  align-items: center;
}

.auth-form {
  flex: 1;
  display: flex;
  padding: 20px;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: $color-green;
  background-image: linear-gradient(
    45deg,
    rgb(6, 150, 135) 0%,
    $color-white 100%
  );
}

.form-submit {
  display: inline-block;
  width: auto;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 16px;
  background-color: #d0ede8e6;
  cursor: pointer;
  transition: background-color 0.3s;
}
.form-submit:hover {
  background: #92cdd9;
}

.login-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: $bradius-m;
  padding: $padding-m;
}

.login-link {
  text-align: center;
  padding: $padding-m;
}
