@import '../../index.scss';

.heart-button{
   position: absolute;
   right: 10px;
   top: 10px;
   transition: 
    all 0.3s ease-in-out;
}

.heart-button-wrapper{
    width: 20px;
    height: 20px;
    background-color: pink;
}