@import '../../index.scss';

.smf-asso-item{
    margin: 15px;
	display: flex;
	flex-direction: column;
	min-height: 250px;
	max-width: 200px;
}

.smf-asso-item-cover{
	max-width: 200px;
	max-height: 200px;
}

.smf-asso-item.h1{
	font-size: $fontsize-xs;
	text-decoration: none;
	
}