@import "../../index.scss";

*{
    /* margin: 0;
    padding: 0;
    box-shadow: border-box;
    /*color: black;*/
    /*font-family: 'Lora', 'serif';*/
    /*font-size: 18px;*/
    /*font-style: normal;
    /*font-weight: 700;*/
    /*line-height: 20px; */
} 

header{
    display: flex;
    justify-content: space-around;
}

nav{
    display: flex; 
} 

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap:3rem; 
}

nav li {
    margin-right: 2rem; 
    font-family: "Lora-Bold";
    font-size: 18px;
    
} 

.nav-link{
    text-decoration: none;
    color: $color-black;
    font-family: "Lora-Bold";
}

// nav ul .nav-link:hover{
//     color: $color-green;
// }

// .nav-button{
//     display: flex;
//     align-items: center;
//     gap: 2rem;
// }

// header button{
//     width: 110px;
//     height: 53px;
//     background-color: $color-green; 
//     border-radius: 18px;
//     border: none; 
// }

// header button:nth-last-child(-n+1){
//     background-color: $color-lightgrey;
// } 

// button a{
//     color:white;    
// }





