@import '../../index.scss';

.navigation-wrapper {
  display: flex;
}

.navigation-wrapper {
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  li {
    margin-right: 2rem;
    font-family: 'Poppins-Medium';
    font-size: $fontsize-l;
  }
}

.navigation-wrapper .navigation-link {
  text-decoration: none;
  color: $color-black;
  font-family: 'Poppins-Bold';
}

.navigation-link:hover {
  color: $color-green;
}

.navigation-button {
  display: flex;
  align-items: center;
  gap: 2rem;
}

button {
  .navigation-link {
    color: $color-white;
  }
  .navigation-link:hover {
    color: $color-black;
  }
}
