@import '../../index.scss';

.container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .form-group {
      flex-direction: column;
  }

  label, input {
      flex: none;
      /* Adjust styles for better readability on smaller screens */
  }
}

h1{
  margin-bottom: 2rem;
}

.auth-form {
  flex: 1;
  display: flex;
  padding: 20px;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: $color-green;
  background-image: linear-gradient(45deg, rgb(6, 150, 135) 0%, $color-white 100%);
}

.form-group {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
  gap: 1rem;
}
  .form-group:last-child {
    margin-bottom: 0px; }
    
.label-with-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
  padding-left: 10px;
}

.input-field {
  flex: 1;
  padding-left: 10px;
}

.input-field:focus {
  outline:  #06968876;
}

.form-submit {
  display: inline-block;
  width: auto;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 16px;
  background-color: #D0EDE8E6;
  cursor: pointer;
  transition: background-color 0.3s;
} 
  .form-submit:hover {
    background: #92CDD9;
  }

  .signup-image {
    flex: 1;
  }

  .signup-image img {
    max-width: 100%; /* Set maximum width to 100% of the container */
    height: auto; /* Maintain aspect ratio */
  }

  .login-link {
    text-align: center;
    padding: $padding-m;
  }

  .login-container {
    margin-top: 16px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: $bradius-m;
    padding: $padding-m;
  }