.App {
  --primary_green : rgba(6, 150, 135, 1);
  --primary_white : rgba(255, 255, 255, 1);
  --primary_darkgrey : rgba(34, 34, 34, 1);
  --primary_black : rgba(0, 0, 0, 1);
  
}

@font-face{
  font-family:"Lora-Regular";
  src: url(../src/assets/fonts/Lora/Lora-Regular.ttf);
}

@font-face {
  font-family: "Lora-Medium";
  src: url(../src/assets/fonts/Lora/Lora-Medium.ttf);
}

@font-face{
  font-family: "Lora-Bold";
  src: url(../src/assets/fonts/Lora/Lora-Bold.ttf)
}

@font-face {
  font-family: "Dosis-Light";
  src: url(../src/assets/fonts/Dosis/Dosis-Light.ttf);
}

@font-face {
  font-family: "Dosis-Medium";
  src: url(../src/assets/fonts/Dosis/Dosis-Medium.ttf);
}

@font-face {
  font-family: "Dosis-SemiBold";
  src: url(../src/assets/fonts/Dosis/Dosis-SemiBold.ttf);
};









