@import '../../index.scss';


.homepage-link{
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-right: 12rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-decoration: none; 
    color: $color-black; 
    font-family: "Montserrat-Regular";
    font-size: 12px;  
}

.asso-list{
    margin-top: 3rem;
}

